@import '../../index.css';
@import '../../styles.css';


.main-page{
    margin: auto;
    overflow: hidden;
}

.hero{
    max-width: 1324px;
    margin: auto;
    margin-top: 50px;
}   
.left-hero{
    align-items: flex-start;
    justify-content: flex-start;
}

.hero-title{
    background: rgb(232,29,15);
    background: -webkit-linear-gradient(0deg, rgba(232,29,15,1) 0%, rgba(198,209,18,1) 25%, rgba(33,223,19,1) 46%, rgba(24,209,185,1) 67%, rgba(12,12,233,1) 86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

.comp-img{
    width: 160px;
    height: 20px;
    object-fit: contain;
    background: var(--whiteCol);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: invert(48%);
}

@media (max-width: 1060px){
    .hero-buttons{
        display: flex;
        flex-direction: column;

    }
    .hero .right-hero{
        display: flex !important;
        flex-direction: column !important;
    }
}
@media (max-width: 1000px){
    
    .right-hero{
        display: none !important;
        flex-direction: column-reverse;
    }
    .what-is{
        width: 80%;
        margin: auto;
    }
    .hero{
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 680px){
    iframe{
        width: 330px;
        height: 270px;
    }
    .hero{
        width: 100%;
        padding: 10px !important;
    }
    .hero-buttons{
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }
    .left-hero{
        align-items: center !important;
        justify-content: center !important;
    }
}